<button class="@Class" @onclick="@OnClick">@Text</button>

@code {
    [Parameter] public string Text { get; set; } = "";
    [Parameter] public string Class { get; set; } = "btn-primary";
    [Parameter] public EventCallback OnClick { get; set; }
}